@charset "utf-8";
/**
 *	emediplus.css
 *  author : Chinnadurai Konar
 *  12th Jan 2014
 */

/* Browse Catalog */
.maincategories, .subcategories {
	display: inline-block;
  	width: 100%;
  	margin-bottom: 10px;
}

#content .maincategory {
    background: -moz-linear-gradient(center top , #464646, #424242) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #333333;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
    text-transform: uppercase;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.75);
}

#content .subcategory {
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #333333;
}

.containerdivNewLine { clear: both; float: left; display: block; position: relative; }

.categories {
	list-style: none outside none;
	margin-left: 0;
}

.categories-item {
	float: left;
	margin: 2px;
	overflow: hidden;
	padding: 0;
	display: inline-block;
}

.categories-item a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #F4F0E4 #F4F0E4 rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 3px;
    box-shadow: 1px 0 0 0 #FFFFFF inset;
    text-align: center;
    width: 100%;
}
.categories-item a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-color: #FFD926;
}
.categories-item a:hover .labelBox {
    color: #333333;
}
.categories-item .labelBox .arrow-right:after {
    border-left-color: #000000;
    right: -5px;
}
.categories-item a div {
    width: 100%;
}
.categories-item a .labelBox {
    color: #666666;
    font-size: 14px;
    line-height: 13px;
    padding: 6px 0 8px;
}
.categories-item a .labelBox .arrow-right:after {
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 0;
    position: relative;
    right: -1px;
    transition: all 100ms ease-out 0s;
    width: 0;
}
.categories-item a .imageBox {
    height: 75px;
    line-height: 75px;
}
.categories-item a .imageBox img {
    vertical-align: bottom;
}

.fllt {
	float: left;
}