@charset "utf-8";
/**
 *	emediplus.css
 *  author : Chinnadurai Konar
 *  12th Jan 2014
 */

/* Browse Catalog */
.maincategories, .subcategories {
	display: inline-block;
  	width: 100%;
  	margin-bottom: 10px;
}

#content .maincategory {
    background: -moz-linear-gradient(center top , #464646, #424242) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #333333;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
    text-transform: uppercase;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.75);
}

#content .subcategory {
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #333333;
}

.containerdivNewLine { clear: both; float: left; display: block; position: relative; }

.categories {
	list-style: none outside none;
	margin-left: 0;
}

.categories-item {
	float: left;
	margin: 2px;
	overflow: hidden;
	padding: 0;
	display: inline-block;
}

.categories-item a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #F4F0E4 #F4F0E4 rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 3px;
    box-shadow: 1px 0 0 0 #FFFFFF inset;
    text-align: center;
    width: 100%;
}
.categories-item a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-color: #FFD926;
}
.categories-item a:hover .labelBox {
    color: #333333;
}
.categories-item .labelBox .arrow-right:after {
    border-left-color: #000000;
    right: -5px;
}
.categories-item a div {
    width: 100%;
}
.categories-item a .labelBox {
    color: #666666;
    font-size: 14px;
    line-height: 13px;
    padding: 6px 0 8px;
}
.categories-item a .labelBox .arrow-right:after {
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 0;
    position: relative;
    right: -1px;
    transition: all 100ms ease-out 0s;
    width: 0;
}
.categories-item a .imageBox {
    height: 75px;
    line-height: 75px;
}
.categories-item a .imageBox img {
    vertical-align: bottom;
}

.fllt {
	float: left;
}


.products {
	list-style: none outside none;
	margin-left: 0;
}

.products-item {
	float: left;
	margin: 2px;
	overflow: hidden;
	padding: 0;
	display: inline-block;
}

.products-item a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #F4F0E4 #F4F0E4 rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 3px;
    box-shadow: 1px 0 0 0 #FFFFFF inset;
    text-align: center;
    width: 100%;
}
.products-item a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-color: #FFD926;
}
.products-item a:hover .labelBox {
    color: #333333;
}
.products-item .labelBox .arrow-right:after {
    border-left-color: #000000;
    right: -5px;
}
.products-item a div {
    width: 100%;
}
.products-item a .labelBox {
    color: #666666;
    font-size: 14px;
    line-height: 13px;
    padding: 6px 0 8px;
}
.products-item a .labelBox .arrow-right:after {
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 0;
    position: relative;
    right: -1px;
    transition: all 100ms ease-out 0s;
    width: 0;
}
.products-item a .imageBox {
    height: 75px;
    line-height: 75px;
}
.products-item a .imageBox img {
    vertical-align: bottom;
}

.productdetail {
	margin-top: 10px;
	display: inline-block;
	width: 843px;
	height: 350px;
	overflow: hidden;
	border: 1px solid #F4F0E4; 
}
.nav.left {
    height: 200px;
    margin-top: 20%;
    width: 20px;
}

.nav.right {
    height: 200px;
    margin-top: 20%;
    width: 20px;
}

/* ----- Product detail pull down section ----- */
.pdetail-section {
	position: relative;
}

.pdetail-close {
	margin-left: 10px;
}

.pdetail-thumbimg {
	width: 300px;
	position: obsolute;
}

.pdetail-content {
	left: 350px;
	top: -300px;
	position: relative;
}

.pdetail-label {
	
}

.pdetail-price {
	font-weight: bold;
	font-size: 12px;
}

.pdetail-company {
	font-size: 12px;
	text-transform: uppercase;
}

.pdetail-prodname {
	font-size: 11px;
	font-weight: bold;
}

.link-text {
	font-size: 12px;
	font-weight: bold;
}
/*-------------------------------------------------*/

.step {
    background:#f2f2f2;
    border:1px;
    font-weight:bold;
    text-shadow:0 1px 0 #fff;
    cursor:pointer;
    position:relative;
    padding:15px 60px 25px 80px;
    height: 30px;
    font-size: 0.8125rem;
}
.step a {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.step:hover{
    background: gray;
}

.step:hover:before{
    border-top:20px gray solid;
    border-bottom:20px gray solid;
}

.step:hover:after{
    border-left:10px gray solid;
}


.current {
    background: red;
}

.current:before
{
    border-top:20px red solid;
    border-bottom:20px red solid;
}

.current:after
{
    border-left: 10px solid red;
}


.current .element a {
    color: #FFFFFF;
}


.step:before {
    content:'';
    border-top:20px #f2f2f2 solid;
    border-bottom:20px #f2f2f2 solid;
    border-left:10px #fff solid;
    position:absolute;
    top:0;
    left:0;
}
.step:after {
    content:'';
    border-top:20px #fff solid;
    border-bottom:20px #fff solid;
    border-left:10px #f2f2f2 solid;
    position:absolute;
    top:0;
    right:0;
}

.step i:after {
    content:'\2713';
    width:25px;
    color: white;
    height:25px;
    font-size: 20px;
    background: green;
    border-radius: 25px;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    right:20px;
}