@charset "utf-8";
/**
 *	emediplus.css
 *  author : Chinnadurai Konar
 *  12th Jan 2014
 */

/* Browse Catalog */
.maincategories, .subcategories {
	display: inline-block;
  	width: 100%;
  	margin-bottom: 10px;
}

#content .maincategory {
    background: -moz-linear-gradient(center top , #464646, #424242) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #333333;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
    text-transform: uppercase;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.75);
}

#content .subcategory {
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #333333;
}

.containerdivNewLine { clear: both; float: left; display: block; position: relative; }

.categories {
	list-style: none outside none;
	margin-left: 0;
}

.categories-item {
	float: left;
	margin: 2px;
	overflow: hidden;
	padding: 0;
	display: inline-block;
}

.categories-item a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #F4F0E4 #F4F0E4 rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 3px;
    box-shadow: 1px 0 0 0 #FFFFFF inset;
    text-align: center;
    width: 100%;
}
.categories-item a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-color: #FFD926;
}
.categories-item a:hover .labelBox {
    color: #333333;
}
.categories-item .labelBox .arrow-right:after {
    border-left-color: #000000;
    right: -5px;
}
.categories-item a div {
    width: 100%;
}
.categories-item a .labelBox {
    color: #666666;
    font-size: 14px;
    line-height: 13px;
    padding: 6px 0 8px;
}
.categories-item a .labelBox .arrow-right:after {
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 0;
    position: relative;
    right: -1px;
    transition: all 100ms ease-out 0s;
    width: 0;
}
.categories-item a .imageBox {
    height: 75px;
    line-height: 75px;
}
.categories-item a .imageBox img {
    vertical-align: bottom;
}

.fllt {
	float: left;
}


.products {
	list-style: none outside none;
	margin-left: 0;
}

.products-item {
	float: left;
	overflow: hidden;
	padding: 0;
	display: inline-block;
	border-bottom: 1px solid #F4F0E4;
}

.products-item a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #F4F0E4 #F4F0E4 rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 3px;
    box-shadow: 1px 0 0 0 #FFFFFF inset;
    text-align: center;
    width: 100%;
}
.products-item a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-color: #FFD926;
}
.products-item a:hover .labelBox {
    color: #333333;
}
.products-item .labelBox .arrow-right:after {
    border-left-color: #000000;
    right: -5px;
}
.products-item a div {
    width: 100%;
}
.products-item a .labelBox {
    color: #666666;
    font-size: 14px;
    line-height: 13px;
    padding: 6px 0 8px;
}
.products-item a .labelBox .arrow-right:after {
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 0;
    position: relative;
    right: -1px;
    transition: all 100ms ease-out 0s;
    width: 0;
}
.products-item a .imageBox {
    height: 75px;
    line-height: 75px;
}
.products-item a .imageBox img {
    vertical-align: bottom;
}

.productdetail {
	margin-top: 10px;
	display: inline-block;
	width: 843px;
	height: 350px;
}
.nav.left {
    height: 200px;
    margin-top: 20%;
    width: 20px;
}

.nav.right {
    height: 200px;
    margin-top: 20%;
    width: 20px;
}

/* ----- Browse Catalog filter section ----- */
.kcb {
    -moz-box-sizing: border-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px 1px 1px 1px;
    cursor: default;
    display: inline-block;
    height: 13px;
    margin: 0;
    position: relative;
    text-indent: 0;
    width: 13px;
}

.sr__filled {
    -moz-appearance: none;
    -moz-box-sizing: border-box;
    background-color: #BBBBBB;
    border-radius: 1px 1px 1px 1px;
    display: inline-block;
    height: 9px;
    left: 1px;
    position: absolute;
    text-indent: 0;
    top: 1px;
    vertical-align: top;
    width: 9px;
}
.sr__link-text {
    white-space: normal;
}
.sr__link, .sr__link:link, .sr__link:visited {
    color: #777777;
}
/* ----- Product detail pull down section ----- */
.pdetail-uparrow {
	height: 22px;
}

.pdetail-section {
	border: 1px solid #F4F0E4;
	position: relative;
	overflow: hidden;
	width: 825px;
	height: 350px;
	margin-bottom: 20px;
}

.pdetail-close {
	margin-left: 10px;
}

.pdetail-thumbimg {
	width: 300px;
	position: obsolute;
}

.pdetail-content {
	left: 350px;
	top: -300px;
	position: relative;
	width: 55%;
}

.pdetail-label {
	font-size: 13px;
}

.pdetail-price {
	font-weight: bold;
	font-size: 24px;
	color: #0000FF;
}

.pdetail-company {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.pdetail-prodname {
	font-size: 11px;
	font-weight: bold;
}

.link-text {
	font-size: 12px;
	font-weight: bold;
}

.pdetail-seperator {
	border-top: 1px dotted #C7C7C7;
}

.pdetail-leftblock {
	width: 100%;
}

.pdetail-rightblock {
	width: 50%;
}

.pdetail-desc {
	
}

.pdetail-attributes {
	
}

/*-------------------------------------------------*/
/* My quotes ..... */
.myquote-header {
    font-size: 14px;
    font-weight: bold;
}

.myquote-detail {
    border: 1px solid #000000;
    font-size: 12px;
    height: 40px;
    padding: 2px;
}

.myquote-action {
    padding: 2px;
}

/* Organization home page-------------------------------------------------*/
#centerpane {
	#background-color: blue;
    border: 1px solid #9CACBC;
    border-radius: 7px 0px 0 0;
    #box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
}

#centerpane .padder {
	padding-top: 5px;
	padding-left: 5px;
    border-bottom: 1px solid #a7a7a7;
}


#centerpane .section-header {
	background-color: #FFFFFF;
 	height: 100px;
 	border-radius: 7px 0px 0 0;
}

#centerpane .section-detail {
	background-color: #FFFFFF;
 	height: 100px;
 	overflow-y: auto;
}

#centerpane .section-notification {
 	background-color: #FFFFFF;
 	height: 200px;
 	overflow-y: auto;
}

#centerpane .section-action {
 	background-color: #FFFFFF;
 	height: 52px;
}

#centerpane .section-footer {
	background-color: #A7A7A7;
 	height: 52px;
}

#leftpane {
	background-color: #FFFFFF;
}

#recentquotes-links {
	font-size: 11px;
	font-weight: bold;
}

#recentquotes {
	width: 200px;
	height: auto;
}

#leftpane .section-header {
    background-color: #CED7E0;
    background-image: -moz-linear-gradient(90deg, #CED7E0 0%, #ECF0F3);
    border-bottom: 1px solid #9CACBC;
    box-shadow: 0 1px #FFFFFF inset, 0 1px #ECF0F3;
    height: 23px;
    margin-bottom: 1px;
    padding: 7px 5px 3px 5px;    
}

#leftpane .section-listing {
	font-size: 14px;
	font-weight: bold;
	width: 250px;
    height: 40px;
    margin-bottom: 1px;
    padding: 5px 5px 3px 5px;
}

.section-title-text {
    font-family: proxima-nova-condensed,"Helvetica Neue",Arial,sans-serif;
    font-size: 12px;
	line-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0 1px #ECF0F3;
    text-transform: uppercase;
    white-space: nowrap;
}

.quote-received {
	font-size: 10px;
	font-weight: 100;
	color: #A7A7A7;
}

.listing-item {
	text-decoration: underline;
}

.arrow-indicator {
	#background-image: url("http://localhost/alphabeta/img/arrow-indicator.png");
}

.order-action {
	width: 100%;
}

.order-status-desc {
	color: blue;
	font-size: 14px;
}

.order-status {
	border: 1px solid #A7A7A7;
	border-radius: 2px;
	width: 20px;
	padding: 10px;
	margin-top: 7px;
}

.order-header {
	font-weight: bold;
	font-size: 14px;
	margin-left: 30px;
	margin-top: -18px;
}

.order-detail {
	margin-left: 30px;
	font-size: 13px;
}

.order-prodheader {
	font-weight: bold;
	font-size: 14px;
}

.order-proddetail {
	font-size: 12px;
}

.order-prodname {
	display: inline-block;
	width: 200px;
}
.order-qty {
	display: inline-block;
	width: 50px;
}
.order-price {
	display: inline-block;
	width: 50px;
	text-align: right;
	padding-right: 4px;
}
.order-newprice {
	display: inline-block;
	width: 75px;
}


.order-notification {
	margin-left: 30px;
	font-size: 13px;
}

.order-notiheader {
	font-weight: bold;
	font-size: 14px;
}

.order-notidetail {
	font-size: 12px;
}

.section-listing-text {
    font-family: proxima-nova-condensed,"Helvetica Neue",Arial,sans-serif;
    font-size: 12px;
	line-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0 1px #ECF0F3;
    white-space: nowrap;
}


.dropdown-menu-link {
    color: #FFFFFF;
    padding-right: 4px;
}

.dropdown-menu-link:hover {
    color: #FFFFFF;
}

.new-primary-button:hover:not(:focus):not(.unhovered):not(.disabled):not(.pressed) {
    background-color: #1F8DD6;
    background-image: -moz-linear-gradient(90deg, #1F8DD6 0%, #74C1ED);
}
.new-primary-button {
    color: #FFFFFF;
    background-color: #1F8DD6;
    border: 1px solid #114D97;
}
.new-button {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.3) inset, 0 -1px 1px rgba(0, 0, 0, 0.1) inset;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    line-height: 100%;
    padding: 4px 10px;
    text-align: center;
    white-space: nowrap;
}
/*-------------------------------------------------*/

.step {
    background:#f2f2f2;
    border:1px;
    font-weight:bold;
    text-shadow:0 1px 0 #fff;
    cursor:pointer;
    position:relative;
    padding:15px 60px 25px 80px;
    height: 30px;
    font-size: 0.8125rem;
}
.step a {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.step:hover{
    background: gray;
}

.step:hover:before{
    border-top:20px gray solid;
    border-bottom:20px gray solid;
}

.step:hover:after{
    border-left:10px gray solid;
}


.current {
    background: red;
}

.current:before
{
    border-top:20px red solid;
    border-bottom:20px red solid;
}

.current:after
{
    border-left: 10px solid red;
}


.current .element a {
    color: #FFFFFF;
}


.step:before {
    content:'';
    border-top:20px #f2f2f2 solid;
    border-bottom:20px #f2f2f2 solid;
    border-left:10px #fff solid;
    position:absolute;
    top:0;
    left:0;
}
.step:after {
    content:'';
    border-top:20px #fff solid;
    border-bottom:20px #fff solid;
    border-left:10px #f2f2f2 solid;
    position:absolute;
    top:0;
    right:0;
}

.step i:after {
    content:'\2713';
    width:25px;
    color: white;
    height:25px;
    font-size: 20px;
    background: green;
    border-radius: 25px;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    right:20px;
}